
.left{
   background-color: aquamarine;
   position: fixed;
   width: 50%;
   height: 100%;
   top:0;
   left:0;
}
.right{
   background-color: aliceblue;
   position: fixed;
   width: 50%;
   height: 100%;
   top:0;
   right:0;
}
.ground{
 background: url('gif/ground.png') 
no-repeat center center;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 37px;
}
.rocket{
  position: absolute;
  left: 50%;
bottom: 0px;
width: 121px;
height: 223px;
margin-left: -60.5px;
background: url('gif/JavaShip1.png') no-repeat 0 0;
background-size: contain;
transition: bottom 10000ms;
}

body.body-state5 .rocket{
 background-image: url('gif/Explosion.gif');
 width:300px;
 height:300px;
 margin-left: -150px;

}

.state1,
.state2,
.state3,
.state4,
.state5{
   display:none;
}
body.body-state1 .rocket{
   transition: none;
}

body.body-state4 .rocket,
body.body-state3 .rocket{
   bottom:1000px;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}
a{

}
